@import '@a1rth/css-normalize';

* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Manrope-regular';
    src: url('../fonts/Manrope-Regular.woff2') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Manrope-medium';
    src: url('../fonts/Manrope-Medium.woff2') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Manrope-semibold';
    src: url('../fonts/Manrope-SemiBold.woff2') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Manrope-bold';
    src: url('../fonts/Manrope-Bold.woff2') format('truetype');
    font-weight: 700;
}

:root {
    --absolute-white: #fff;
    --absolute-black: #000;

    --red-45: #e50000;
    --red-50: #f00;
    --red-55: #ff1a1a;
    --red-60: #f33;
    --red-80: #f99;
    --red-90: #fcc;
    --red-95: #ffe5e5;
    --red-99: #fffafa;

    --black-06: rgba(15, 15, 15, 1);
    --black-08: #141414;
    --black-10: #1a1a1a;
    --black-12: #1f1f1f;
    --black-15: #262626;
    --black-20: #333;
    --black-25: #404040;
    --black-30: #4d4d4d;

    --grey-60: #999;
    --grey-65: #a6a6a6;
    --grey-70: #b3b3b3;
    --grey-75: #bfbfbf;
    --grey-90: #e4e4e7;
    --grey-95: #f1f1f3;
    --grey-97: #f7f7f8;
    --grey-99: #fcfcfd;

    --width: 1600px;
    --width-max: 1920px;
    --button-radius: 8px;
}

html {
    box-sizing: border-box;
    scrollbar-width: none;
}
body {
    background-color: var(--black-08);
    margin: 20px;
    box-sizing: border-box;
    outline: red solid 1px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: var(--width-max);
    margin: 20px;
}
.header__logo {
    width: 12vw;
}
.header__nav {
    display: flex;
    background-color: var(--black-06);
    border: 4px solid var(--black-12);
    border-radius: 12px;
    padding: 10px;
}
.button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--red-45);
    padding: 14px 24px;
    width: 210px;
    font-family: 'Manrope-semibold', sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: var(--absolute-white);
    border-radius: var(--button-radius);
    border: none;
}
.start-button:before {
    display: inline-flex;
    content: '';
    background-image: url("/src/svg-icons/play-icon.svg");
    width: 15px;
    height: 16px;
}
.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    gap: 30px;
}
.header__nav-link {
    list-style: none;
    width: 100%;
}
.nav-btn {
    display: flex;
    background: none;
    border: none;
    font-size: clamp(12px, 18px, 24px);
    font-family: 'Manrope-medium', sans-serif;
    color: var(--absolute-white);
    white-space: nowrap;
}
.isActive {
    border-radius: var(--button-radius);
    padding: 14px 24px;
    background-color: var(--black-10);
    border: 1px solid var(--black-10);
}

.header__actions {
    display: flex;
    gap: 30px;
}
.header__actions-btn {
    background: none;
    border: none;
}

.image-collection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: calc(100vw - 25px);
    height: calc(100vh - 100px);
    z-index: -1;
    overflow-y: clip;

    filter: blur(0px);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
.image-collection img {
    width: 196px;
    height: 200px;
}

a {
    text-decoration: none;
}
.section {
    max-width: var(--width);
    margin: 10vh auto 0 auto;
}

.section-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    font-family: Manrope-bold, sans-serif;
    font-size: clamp(16px, 28px, 36px);
    line-height: 150%;
    text-align: left;
    color: var(--absolute-white);
    margin-bottom: 30px;
}
.categories-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100vh auto 0 auto;
}
.categories-section__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.categories-section__card {
    display: flex;
    flex-direction: column;
    /*width: 17vw;*/
    padding: 30px;
    background-color: var(--black-10);
    border: 1px solid var(--black-15);
    border-radius: 12px;
}
.categories-section__card-title {
    display: flex;
    justify-content: space-between;
}
.categories-section__title-link {
    font-family: 'Manrope-semibold', sans-serif;
    line-height: 150%;
    color: var(--absolute-white);
    font-size: clamp(12px, 18px, 24px);
}

.categories-section__images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.categories-section__image {
    width: 6vw;
    height: 6.43vw;
    aspect-ratio: 1/1;
}
.categories-section-header__text {
    margin: 0;
    font-size: clamp(12px, 16px, 24px);
    font-family: Manrope-regular, sans-serif;
    line-height: 150%;
    color: var(--grey-60);
}
.categories-section-header__text-block {
    width: 78%;
    margin-bottom: 80px;
}
.categories-section__slide {
    display: flex;
    gap: 20px;
}

.categories-section__pagination-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 16%;
    gap: 12px;
    background-color: var(--black-06);
    border-radius: 10px;
    border: 1px solid var(--black-12);
}
.pagination-block__button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    background-color: var(--black-10);
    background-repeat: no-repeat;
    border: 1px solid var(--black-12);
    border-radius: 6px;
}
.pagination-block__indicator-block {
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagination-block__indicator {
    width: 20%;
    height: 4px;
    background-color: var(--black-20);
    border-radius: 2px;
}
.indicator-active {
    background-color: var(--red-45);
    transform: scaleX(110%);
}

.accent-logo {
    width: 15.6vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.promo-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 75vh;
    padding-inline: 150px;
    text-align: center;
}
.promo-header {
    margin: 0;
    font-family: 'Manrope-bold', sans-serif;
    font-size: clamp(12px, 48px, 60px);
    line-height: 150%;
    color: var(--absolute-white);
}
.promo-text {
    font-family: 'Manrope-regular', sans-serif;
    font-size: clamp(8px, 14px, 24px);
    line-height: 150%;
    color: var(--grey-60);
    margin-bottom: 40px;
}

.devices-section {
    margin: 5vh auto 0 auto;
}
.devices-section__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.devices-section__card {
    display: flex;
    flex-direction: column;
    width: 26.6vw;
    max-height: 35vh;
    border: 1px solid var(--black-15);
    border-radius: 12px;
    padding: 50px;
    background:var(--black-06) linear-gradient(65deg, rgba(229, 0, 0, 0.25) 0%, rgba(229, 0, 0, 0) 81.37%);
}
.devices-section__card-header {
    display: flex;
    align-items: center;
    gap: 16px;
    line-height: 150%;
    font-size: 24px;
    font-family: 'Manrope-semibold', sans-serif;
    color: var(--absolute-white);
}
.devices-section__card-body {
    overflow: hidden;
}
.devices-section__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    background-color: var(--black-08);
    border: 1px solid var(--black-12);
    border-radius: 12px;
}

.faq-section {
    margin: 10vh auto 0 auto;
}
.question-section__body {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
}
.questions-block__card {
    width: 40vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 24px;
}
.questions-block__card-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 67px;
    border: 1px solid var(--black-12);
    border-radius: 10px;
    background-color: var(--black-10);
    font-family: Manrope-semibold, sans-serif;
    font-size: 20px;
    color: var(--absolute-white);
}
.question-block__text {
    justify-self: start;
}
.question-header {
    font-family: 'Manrope-medium', sans-serif;
    font-size: 22px;
    line-height: 150%;
    color: var(--absolute-white);
}

.tax-section-body {
    display: flex;
    gap: 30px;
}
.tax-section__card {
    display: flex;
    flex-direction: column;
    gap: 2.6vw;
    padding: 2.6vw;
    width: 26.7vw;
    background-color: var(--black-10);
    border: 1px solid var(--black-15);
    border-radius: 12px;
}
.tax-section__card-header {
    font-family: Manrope-bold, sans-serif;
    font-size: 24px;
    color: var(--absolute-white);
    margin: 0;
    text-align: left;
}
.tax-section__description {
    font-family: Manrope-regular, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-60);
    margin: 0;
}
.tax-section__price {
    font-family: Manrope-semibold, sans-serif;
    font-size: 40px;
    line-height: 73%;
    color: var(--absolute-white);
    margin: 0;
}
.tax-section__card-price {
    display: flex;
    gap: 20px;
}
.tax-section__button {

}
.tax-section__button--trial {
    background-color: var(--black-08);
    border: 1px solid var(--black-12);
}

.promo-section {
    margin: 5vh auto 0 auto;
    display: grid;
    place-items: center;
    width: 83.3vw;
    background-color: var(--black-06);
    border: 1px solid var(--black-15);
}
.promo-section__inner {
    grid-area: 1/1/-1/-1;
    display: flex;
    align-items: end;
    gap: 100px;
    z-index: 1500;
}
.promo-section__image-background {
    grid-area: 1/1/-1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    max-height: 60vh;
}
.promo-section__header {
    font-family: "Manrope-bold", sans-serif;
    font-size: 48px;
    line-height: 150%;
    color: var(--absolute-white);
    margin: 0;
}
.promo-section__paragraph {
    font-family: 'Manrope-regular', sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-60);
}
.promo-section__button {
    height: fit-content;
}
.fade {
    grid-area: 1/1/-1/-1;
    background: linear-gradient(90deg, #0f0f0f 2%, rgba(20, 15, 15, 0.97) 14%, rgba(34, 14, 14, 0.91) 28%, rgba(229, 0, 0, 0.4) 100%);
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: 10vh;
    width: 100%;
    background-color: var(--black-06);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 8.4vw;
}
.navigation {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
}
.navigation>ul {
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.navigation>ul>li>a {
    text-decoration: none;
    color: var(--grey-60);
    font-family: 'manrope-medium', sans-serif;
    line-height: 150%;
}
.footer__list-title {
    color: var(--absolute-white) !important;
    font-family: 'manrope-semibold', sans-serif;
    font-size: 20px;
    line-height: 150%;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: var(--absolute-white);
    width: 56px;
    height: 56px;
    background-color: var(--black-10);
    border: 1px solid var(--black-15);
}
.contacts-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    gap: 14px;
}
.contacts>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
    border-top: 1px solid var(--black-15);
    margin-top: 5.2vw;
    color: var(--grey-60);
}
.footer__policies {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-inline-start: 0;
}
.footer__policies-link {
    font-family: 'manrope-regular', sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-60);
}
.footer__policies-link--accent {
    padding-inline: 20px;
    border-left: 1px solid var(--black-15);
    border-right: 1px solid var(--black-15);
}
@media (max-width: 1440px) {
    .categories-section__card {
        padding: 20px;
    }
}

@media(max-width: 1240px) {
    header {
        gap: 20px;
    }

    .devices-section__card {
        height: 30vh;
        width: 42vw;
        padding: 30px;
    }
    .devices-section__card-body {
        font-size: 0.75em;
    }
}

@media (max-width: 1024px) {
    .header__logo {
        width: 150px;
    }
    .header {
        flex-wrap: wrap;
    }
    .header__nav {
        order: 1;
    }
    .section-header {
        margin-bottom: 35px;
        margin-top: 10vh;
    }
    .categories-section-header {
        margin-block: 20px;
        font-size: 30px;
    }
    .categories-section-header__text {
        font-size: 12px;
    }

    .devices-section__card-header {
        font-size: 18px;
    }
    .devices-section__image {
        width: 48px;
        height: 48px;
    }

    .categories-section__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 15px;
    }
    .categories-section__card {
        padding: 12px;
        max-height: fit-content;
    }
    .categories-section__image {
        width: 45%;
        height: 45%;
    }
}

@media (max-width: 767px) {
    .header__nav {
        width: 100%;
    }
    .header__nav-list {
        width: 100%;
    }
    .nav-btn {
        font-size: 12px;
    }
    .categories-section__pagination-block {
        padding: 8px;
    }
    .pagination-block__button {
        width: 30px;
        height: 30px;
    }
    .categories-section__body {
        overflow-x: hidden;
    }
    .categories-section__card {
        flex: 0 0 auto;
        width: 45.6vw;
    }
    .categories-section__image {
        width: 17.17vw;
        height: 17vw;
    }
}

@media (max-width: 600px) {
    .header__nav {
        width: 50vw;
        height: fit-content;
    }
    .header__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 15px;
    }
    .header__nav-link {
        display: flex;
        justify-content: center;
    }
    .nav-btn {
        font-size: 1.5em;
    }

    .devices-section__card {
        width: 75vw;
    }
    .categories-section {
        margin-top: 75vh;
    }
    .categories-section__pagination-block {
        padding: 6px;
    }
    .pagination-block__button {
        width: 20px;
        height: 20px;
    }
    .pagination-block__button img {
        width: 20px;
        height: 20px;
    }
}