@import '@a1rth/css-normalize';

@font-face {
    font-family: 'Manrope-regular';
    src: url('../fonts/Manrope-Regular.woff2') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Manrope-medium';
    src: url('../fonts/Manrope-Medium.woff2') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Manrope-semibold';
    src: url('../fonts/Manrope-SemiBold.woff2') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Manrope-bold';
    src: url('../fonts/Manrope-Bold.woff2') format('truetype');
    font-weight: 700;
}

:root {
    --absolute-white: #fff;
    --absolute-black: #000;

    --red-45: #e50000;
    --red-50: #f00;
    --red-55: #ff1a1a;
    --red-60: #f33;
    --red-80: #f99;
    --red-90: #fcc;
    --red-95: #ffe5e5;
    --red-99: #fffafa;

    --black-06: #0f0f0f;
    --black-08: #141414;
    --black-10: #1a1a1a;
    --black-12: #1f1f1f;
    --black-15: #262626;
    --black-20: #333;
    --black-25: #404040;
    --black-30: #4d4d4d;

    --grey-60: #999;
    --grey-65: #a6a6a6;
    --grey-70: #b3b3b3;
    --grey-75: #bfbfbf;
    --grey-90: #e4e4e7;
    --grey-95: #f1f1f3;
    --grey-97: #f7f7f8;
    --grey-99: #fcfcfd;

    --width: 1600px;
    --button-radius: 8px;
}

html {
    box-sizing: border-box;
    scrollbar-width: none;
}
body {
    background-color: var(--black-08);
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__nav {
    display: flex;
    background-color: var(--black-06);
    border: 4px solid var(--black-12);
    border-radius: 12px;
    padding: 10px;
}
.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    gap: 30px;
}
.header__nav-link {
    list-style: none;
    width: 100%;
}
.nav-btn {
    display: flex;
    background: none;
    border: none;
    font-size: clamp(12px, 18px, 24px);
    font-family: 'Manrope-medium', sans-serif;
    color: var(--absolute-white);
    white-space: nowrap;
}
.isActive {
    border-radius: var(--button-radius);
    padding: 14px 24px;
    background-color: var(--black-10);
    border: 1px solid var(--black-10);
}

.header__actions {
    display: flex;
    gap: 30px;
}
.header__actions-btn {
    background: none;
    border: none;
}